{%if not recipes%}
<h1>Looks like this recipe does not exist! :(</h1>
{%else%}
<h1>{{recipes.title}}</h1>
<button><a href="/">Home</a></button>

{%if status == True %}
<button><a href="/addfavorite/{{recipes.id}}">{{Favorite}}</a></button>
{%endif%}

<h2><a href="/editrecipe/{{recipes.id}}/">Edit Recipe</a></h2>
<h1><a href="/author/{{recipes.author.id}}/">{{recipes.author.name}}</a></h1>
<h1>{{recipes.description}}</h1>
<h1>{{recipes.time_required}}</h1>
<h1>{{recipes.instructions}}</h1>
{%endif%}